<a href="/user/{{this.user.screen_name}}"><img src="{{ this.user.profile_image_url }}" alt="{{ this.user.name }}"/></a>
<strong>{{ this.user.name }}</strong>

{{#unless this.retweeted_status }}
  <p>{{ this.text }}</p>
  <p>{{this.created_at}}</p>
{{/unless}}